<div class="alert alert-success" style="display:none;position: fixed; width: 100%;" role="alert">
  Vous allez recevoir votre commande dans une semaine
</div>

<div class="head">
  <app-navbar></app-navbar>

</div>


 <router-outlet></router-outlet>




















<!-- <div class="container">
<app-view-products></app-view-products>
</div> -->



<!-- 
<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group> -->

 