.navbar {
    background-color: #b72149 !important;
    border: solid 1px  #28a745;
    position:fixed;
    width: 100%;
    z-index: 35;
    top: 0;
}
    
a{
    color: white!important;
}
// .form-control{
//     // margin-right: 28.5rem !important;
// }
.btn-outline-success{
    // margin-right: 400px !important;
    color: white;
}

