<!-- bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink ="product">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="product/cheveux">Cheveux <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product/visage">Visage</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="product/corps">Corps</a>
        </li>
     
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="product/bebe">Bébé</a> 
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
    </form>
    <img class="logo" src="../assets/logo-pagnet.png" width="40px" height="40px">
    
  
      <button type="button" class="btn btn-success" (click)="alertClick()">Payer</button> 
    
      
  </div>
</nav>





