
   
    <div class="card" style="width: 16rem; margin: 5px;"><br>
      <img class="card-img-top" src="{{ image }}" alt="Card image cap">
      <div class="card-body"><br>
        <h5 class="card-title"> {{ name }} </h5>
        <p class="card-text">{{ price }}</p>
        <p class="card-text">{{ description }}</p>
        <a href="#" class="btn btn-primary">{{ btn }}</a>
      </div>
    </div>


  


  


