.card{
    height: 95%;
    align-items: stretch;
   
}


.card-img-top {
    width: 100%;
    height: 50%;
    padding-bottom: 5%; 
   
}
.card-body{
    min-height: 45%;
    background-color:#3767a51c;
    
   
}


.btn-primary {
    color: #fff;
    background-color: #b72149 !important;
    border-color: #28a745;
    margin-left: 30%;
   
}




    

// .btn-outline-success {
//    
//     background-color: transparent;
//     background-image: none;
//     border-color: #28a745;
// }
