<img class="d-block w-100 h-60" src="./assets/{{ image }}"/>


  

  <!-- <button type="button" class="btn btn-outline-primary" (click)="alertClick()">Payer</button> -->

  <div class="container">
    <div class="row">
          
        <app-sigle-product *ngFor="let produt of products"
                       [id]="produt.id"
                       [category]="category"
                       [image]="produt.image"
                       [name]="produt.name"
                       [price]="produt.price"
                       [description]="produt.description"
                       [btn]="produt.btn">
          </app-sigle-product>
    </div>
            
  </div>



<div class="footer-copyright">copyright@myshop2018</div>































<!-- original

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <img src="./assets/{{ image }}">
        <app-sigle-product *ngFor="let produt of products"
                       [id]="produt.id"
                       [category]="category"
                       [image]="produt.image"
                       [name]="produt.name"
                       [price]="produt.price"
                       [description]="produt.description"
                       ></app-sigle-product>
      </ul>
      
    </div>
  </div>
</div> -->