.container{
    height: 100%;
    margin-top: 10px;
}

.d-block{
    width: 65% !important;
    margin: auto;
}

.row{
    margin-left: 20px !important;
}
.footer-copyright{
    margin-top: 100px;
    height: 100px;
    border-top: solid 1px gray;
}